<div class="banner <%= background %>">
  <div class="container">
    <div>
      <h1>LOGO HERE</h1>
    </div>
      <ul class="d-flex justify-content-around">
        <li>Home</li>
        <li>Cours</li>
        <li>Méditation</li>
        <li>Arts</li>
        <li>Boutique</li>
        <li>Contact</li>
      </ul>
    </div>
</div>
