<div class="footer sticky-bottom">
  <div class="d-inline-flex mt-1">
    <i class="fa-solid fa-envelope m-1 justify-content-start"></i><p>info@hotmail.com</p>
  </div>
  <div class="footer-links" >
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
  </div>
</div>
