<%= render partial: 'shared/banner', locals: { background: 'flower' } %>

<div class="container">
  <h2 class="pt-2 text-center">Cours</h2>

  <div class="cours-carte-container float-left">
    <div class="cour-carte">
      <div class="cour-carte-text">
        <h4>Cour pour Enfants</h2>
        <ul>
          <li>insert text here</li>
          <li>insert text here</li>
          <li>insert text here</li>
          <li>insert text here</li>
          <li>insert text here</li>
        </ul>
      </div>
      <%= image_tag "yoga-enfant.jpg" %>
    </div>

    <div class="cour-carte float-right">
      <%= image_tag "yoga-ado.avif" %>
       <div class="cour-carte-text">
        <h4>Cour pour Adolescents</h2>
        <ul>
          <li>insert text here</li>
          <li>insert text here</li>
          <li>insert text here</li>
          <li>insert text here</li>
          <li>insert text here</li>
        </ul>
    </div>
  </div>

     <div class="cour-carte float-left">
      <div class="cour-carte-text">
        <h4>Cour pour Adultes</h2>
        <ul>
          <li>insert text here</li>
          <li>insert text here</li>
          <li>insert text here</li>
          <li>insert text here</li>
          <li>insert text here</li>
        </ul>
      </div>
      <%= image_tag "yoga-adulte.jpg" %>
    </div>
</div>
