.cours-carte-container {
  display: flex;
  flex-direction: column;
}
.cours-carte {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8  px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  background-color: #ffeeff;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.08);
  max-width: 1000px;
}

.cours-carte img {
  margin-top: 4px;
  margin-bottom: 4px;
}

.float-right {
  align-self: flex-end;
  margin-right: 40px;
}

.float-left {
  margin-left: 40px
}

.shadows {
  border-radius: 4px;
  // border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
}
