// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "footer";

body {
  background-color: rgb(245, 245, 245);
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem
}
