// Import your components CSS files here.
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&display=swap');

@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "footer";
@import "grid";
@import "cards";

body {
  background-color: rgb(245, 245, 245);
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem
}
