
.card-qui-suis-je img {
  height: 80%;
  width: 80%;
  border-radius: 4px;
  // border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
}

.shadows {
  border-radius: 4px;
  // border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
}
